{% extends "base.html" %}
{% block title %}Two Factor Authentication{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Two Factor Authentication Setup</h1>
                    <p class="text-muted"> You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
                    <p><img id="qrcode" src="{{ url_for('user_page.qrcode_init') }}"></p>
                    <p class="text-muted"> I'm done, take me to the 
                        <a class="forgot text-muted" href="{{ url_for('user_page.login') }}">Login</a>
                    </p>
                </form>
            </div>
        </div>    
    </div>
</div>
{% endblock %}